body{
  margin: 0;
  padding: 0;
  font-family: 'Baloo Chettan 2';
  background: #34495e;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box h4{
  color: white;
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}

.box input[type="text"],.box input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

/*.box input[type="submit"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #2ecc71;
   padding: 14px 40px;
   outline: none;
   color: white;
   border-radius: 24px;
   transition: 0.25s;
   cursor: pointer;
}

.box input[type="submit"]:hover{
  background: #2ecc71;
}*/
.box .signupSub{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box .signupSub:hover{
  background: #2ecc71;
}

a{
  transform: translate(6px, -35px);
  display: block;
  position: absolute;
  text-align: center;
  line-height: 48px;
  color: #fff;
  font-size: 18px;
  width: 300px;
  height: 55px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9fa);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
}

a:hover{
  animation: animate 8s linear infinite;
}

@keyframes animate{
  0%
  {
    background-position: 0%
  }
  100%
  {
    background-position: 400%
  }
}

a:before{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb36, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

a:hover:before{
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}